@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dots {

  0%,
  20% {
    content: '.';
  }

  40%,
  60% {
    content: '..';
  }

  80%,
  100% {
    content: '...';
  }
}

.loading-text::after {
  content: '';
  display: inline-block;
  width: 1em;
  animation: dots 1.5s infinite;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.field {
  @apply rounded-none border-0 border-b bg-transparent p-1 text-softWhite hover:border-nobleGold focus:outline-none focus:ring-0 hover:brightness-125; 
}