body {
    font-family: Arial, sans-serif;
    padding: 15px;
  }
  
  input,
  select,
  button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50px;
  }
  
  .asset-row {
    margin-bottom: 10px;
  }
  
  .asset-row input {
    margin-right: 5px;
  }
  
  #assets-form {
    margin-bottom: 20px;
  }
  